@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirLight";
  src: url("../public/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../public/fonts/AvenirLTStd-Black.otf") format("opentype");
}

html,
body {
  overflow-x: hidden;
}

#hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #111;
  overflow: hidden;
  z-index: -1;
}

canvas {
  opacity: 1;
  position: fixed;
}

#content {
  background-color: #111;
  height: 100px;
  width: 100%;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
