* {
  margin: 0;
  padding: 0;
}

#hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #111;
  overflow: hidden;
  z-index: -1;
}

canvas {
  opacity: 1;
  position: fixed;
}

#content {
  background-color: #111;
  height: 100px;
  width: 100%;
}